:root {

  /* Gray scale https://orig07.deviantart.net/cc18/f/2017/243/d/c/warm_ups_10___journey_by_coupleofkooks-dblxzn9.png */
  --silver: #FDFFFC;
  --manatee: #F4F4F4;
  --outer-space-gray: #444b59;
}

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Fira+Sans');

.main {
  background-image: -webkit-linear-gradient(180deg, var(--silver), var(--manatee));
  background-image: -o-linear-gradient(180deg, var(--silver), var(--manatee));
  background-image: linear-gradient(180deg, var(--silver), var(--manatee));
}

.title {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: bold;
  /*font-size: 5rem;*/
  /*font-size: 96px;*/
  font-size: 48px;
  color: var(--outer-space-gray);
  text-align: center;
}

.tooltip {
  font-size: 30px !important;
}

#flight {
  align-self: center;
}

#logo{
  /*width: 800px;*/
  width: 400px;
}

#paris-text {
  font-family: 'Cormorant Garamond', serif;
  /*font-size: 10rem;*/
  font-size: 96px;
}

#paris-svg {
  width: 330px;
}

.chennai {
  justify-content: center;
}

#chennai-text {
  font-family: 'Cormorant Garamond', serif;
  /*font-size: 10rem;*/
  font-size: 96px;
}

#chennai-svg {
  width: 330px;
}

#progress-bar {
  height: 200px;
}

#row-4{
  /*background: gray;*/
}

#email {
  text-align: left !important;
  margin-right: 500px !important;
  border: 0 !important;
  border-bottom: 0.125rem solid var(--platinum) !important;
  border-radius: 0 !important;
  background: transparent !important;
  font-family: 'Fira sans' sans-serif !important;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#email:required {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#email:required:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-bottom: 0.125rem solid var(--manatee) !important;
}

.subscribe {

}
